<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<string>Food</string>
		<key>Name</key>
		<string>Waffles, Aunt Jemima (Quaker Oats)</string>
		<key>LoggingTS</key>
		<date>2015-08-12T15:22:34Z</date>
	</dict>
</array>
</plist>
